<!-- menu.component.html -->

<nav>
    <ul>
        <li><a routerLink="/">Página Inicial</a></li>
        <li><a routerLink="/cadastrar-fornecedores">Cadastrar Fornecedor</a></li>
        <li><a routerLink="/listar-categoria">Visualizar Categoria</a></li>
        <li><a routerLink="/cadastrar-categoria">Cadastrar Categoria</a></li>
        <li><a routerLink="/produto-listar">Visualizar Produto</a></li>
        <li><a routerLink="/produto-cadastrar">Cadastrar Produto</a></li>
        <!-- Adicione mais links conforme necessário -->
    </ul>
</nav>